
.vs/RelayPLC-CSV/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
RelayPLC-CSV-AnodeCap-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-AnodeCap-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-AnodeCap-Quality/obj/Debug/RelayPLC-CSV-AnodeCap-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-AnodeCap-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-AnodeCap-Trouble/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-AnodeCap-Trouble/obj/Debug/RelayPLC-CSV-AnodeCap-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-AnodeCap-Trouble/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-AnodeCap-Trouble/obj/Release/RelayPLC-CSV-AnodeCap-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-CaseCarbon-Quality/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseCarbon-Quality/obj/Debug/RelayPLC-CSV-CaseCarbon-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-CaseCarbon-Quality/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseCarbon-Quality/obj/Release/RelayPLC-CSV-CaseCarbon-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-CaseCarbon-Trouble/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseCarbon-Trouble/obj/Debug/RelayPLC-CSV-CaseCarbon-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-CaseCarbon-Trouble/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseSealant-Quality/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseSealant-Quality/obj/Debug/RelayPLC-CSV-CaseSealant-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-CaseSealant-Quality/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseSealant-Trouble/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-CaseSealant-Trouble/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-LithiumPressing-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-LithiumPressing-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-LithiumPressing-Quality/obj/Release/RelayPLC-CSV-LithiumPressing-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-LithiumPressing-Trouble/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-LithiumPressing-Trouble/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RelayPLC-CSV-LithiumPressing-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-LithiumPressing-Trouble/obj/Debug/RelayPLC-CSV-LithiumPressing-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-LithiumPressing-Trouble/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
RelayPLC-CSV-LithiumPressing-Trouble/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Mixing-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Mixing-Quality/obj/Debug/RelayPLC-CSV-Mixing-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-Mixing-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Mixing-Trouble/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Mixing-Trouble/obj/Debug/RelayPLC-CSV-Mixing-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-Mixing-Trouble/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Packing-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Packing-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Predischarge-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Predischarge-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Predischarge-Quality/obj/Release/RelayPLC-CSV-Predischarge-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-Predischarge-Trouble/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Predischarge-Trouble/obj/Debug/RelayPLC-CSV-Predischarge-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-Predischarge-Trouble/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Predischarge-Trouble/obj/Release/RelayPLC-CSV-Predischarge-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-Tamping-Quality/FormSchedulerCSV-Tamping-Quality.vb
RelayPLC-CSV-Tamping-Quality/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Tamping-Quality/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RelayPLC-CSV-Tamping-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Tamping-Quality/obj/Debug/relayplc-csv-tamping-quality.exe.licenses
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.vbproj.CoreCompileInputs.cache
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.vbproj.FileListAbsolute.txt
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.vbproj.GenerateResource.cache
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC_CSV_Tamping_Quality.FormConfig.resources
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC_CSV_Tamping_Quality.FormSchedulerCSV_Tamping_Quality.resources
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC_CSV_Tamping_Quality.Resources.resources
RelayPLC-CSV-Tamping-Quality/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
RelayPLC-CSV-Tamping-Quality/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Tamping-Quality/RelayPLC-CSV-Tamping-Quality.vbproj
RelayPLC-CSV-Tamping-Trouble/bin/Debug/C1.Win.C1FlexGrid.4.dll
RelayPLC-CSV-Tamping-Trouble/bin/Debug/C1.Win.C1List.4.dll
RelayPLC-CSV-Tamping-Trouble/bin/Debug/RelayPLC-CSV-Tamping-Trouble.exe
RelayPLC-CSV-Tamping-Trouble/bin/Debug/RelayPLC-CSV-Tamping-Trouble.exe.config
RelayPLC-CSV-Tamping-Trouble/bin/Debug/RelayPLC-CSV-Tamping-Trouble.pdb
RelayPLC-CSV-Tamping-Trouble/bin/Debug/RelayPLC-CSV-Tamping-Trouble.xml
RelayPLC-CSV-Tamping-Trouble/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.exe
RelayPLC-CSV-Tamping-Trouble/obj/Debug/relayplc-csv-tamping-trouble.exe.licenses
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.pdb
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.vbproj.CopyComplete
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.vbproj.CoreCompileInputs.cache
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.vbproj.FileListAbsolute.txt
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.vbproj.GenerateResource.cache
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC-CSV-Tamping-Trouble.xml
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC_CSV_Tamping_Trouble.FormConfig.resources
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC_CSV_Tamping_Trouble.FormScheduleCSV_Tamping_Trouble.resources
RelayPLC-CSV-Tamping-Trouble/obj/Debug/RelayPLC_CSV_Tamping_Trouble.Resources.resources
RelayPLC-CSV-Tamping-Trouble/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-Visual-Quality/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-Visual-Quality/obj/Debug/RelayPLC-CSV-Visual-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-Visual-Quality/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.vb
RelayPLC-CSV-Visual_Trouble/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
RelayPLC-CSV-Visual_Trouble/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.vb
.vs/RelayPLC-CSV/v16/.suo
RelayPLC-CSV-Tamping-Quality/bin/Debug/C1.Win.C1FlexGrid.4.dll
RelayPLC-CSV-Tamping-Quality/bin/Debug/C1.Win.C1List.4.dll
RelayPLC-CSV-Tamping-Quality/bin/Debug/config.xml
RelayPLC-CSV-Tamping-Quality/bin/Debug/RelayPLC-CSV-Tamping-Quality.exe
RelayPLC-CSV-Tamping-Quality/bin/Debug/RelayPLC-CSV-Tamping-Quality.exe.config
RelayPLC-CSV-Tamping-Quality/bin/Debug/RelayPLC-CSV-Tamping-Quality.pdb
RelayPLC-CSV-Tamping-Quality/bin/Debug/RelayPLC-CSV-Tamping-Quality.xml
RelayPLC-CSV-Tamping-Quality/FormSchedulerCSV-Tamping-Quality.vb
RelayPLC-CSV-Tamping-Quality/RelayPLC-CSV-Tamping-Quality.vbproj
RelayPLC-CSV-Tamping-Trouble/bin/Debug/config.xml
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.exe
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.pdb
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.xml
RelayPLC-CSV-AnodeCap-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-CaseCarbon-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-CaseCarbon-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-CaseSealant-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-CaseSealant-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-LithiumPressing-Quality/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RelayPLC-CSV-LithiumPressing-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-LithiumPressing-Quality/obj/Debug/RelayPLC-CSV-LithiumPressing-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-LithiumPressing-Quality/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
RelayPLC-CSV-Mixing-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Mixing-Quality/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
RelayPLC-CSV-Mixing-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Packing-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Predischarge-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Predischarge-Quality/obj/Debug/RelayPLC-CSV-Predischarge-Quality.vbproj.AssemblyReference.cache
RelayPLC-CSV-Predischarge-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errDownload_FTP_File_20230223.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errHigh_Speed_Mixer_Mch_20230223.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errHigh_Speed_Mixer_Mch_Process_20230223.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errKneading_Process_insert_data_CSV_20230223.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errLoad_data_FTP_error_20230222.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errLoad_data_FTP_error_20230223.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errLoad_data_grid_error_20230222.log
RelayPLC-CSV-Tamping-Quality/bin/Debug/Log/Error/errLoad_data_grid_error_20230223.log
RelayPLC-CSV-Tamping-Quality/obj/Debug/RelayPLC-CSV-Tamping-Quality.vbproj.CopyComplete
RelayPLC-CSV-Tamping-Quality/RelayPLC-CSV-Tamping-Quality.vbproj
RelayPLC-CSV-Tamping-Trouble/bin/Debug/Log/Error/errHigh_Speed_Mixer_Mch_Process_20230223.log
RelayPLC-CSV-Tamping-Trouble/bin/Debug/Log/Error/errHighSpeedMixerMch_20230223.log
RelayPLC-CSV-Tamping-Trouble/bin/Debug/Log/Error/errKneading_Process_insert_data_CSV_20230223.log
RelayPLC-CSV-Tamping-Trouble/bin/Debug/Log/Error/errLoad_data_FTP_error_20230223.log
RelayPLC-CSV-Tamping-Trouble/bin/Debug/Log/Error/errLoad_data_grid_error_20230223.log
RelayPLC-CSV-Tamping-Trouble/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RelayPLC-CSV-Tamping-Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Tamping-Trouble/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
RelayPLC-CSV-Visual-Quality/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Visual_Trouble/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RelayPLC-CSV-Visual_Trouble/obj/Debug/RelayPLC-CSV-Visual_Trouble.vbproj.AssemblyReference.cache
RelayPLC-CSV-Tamping-Quality/RelayPLC-CSV-Tamping-Quality.vbproj
